.container3 {
    margin-top: 20px; /* Adjust this value to create space between the content and the top of the page */
    margin-left: 20px;
  }
  
  .card1 {
    margin-bottom: 20px; /* Adjust this value to create space between each card */
  }
  